// our-reainer
.owl-carousel.our-trainer__pic {

    .owl-item {
        @extend %owl-item
    }

    .owl-item.active.center {
       @extend %owl-item-active
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        color: $secondry-color;
        transform: translateY(-50%);
    }

    .owl-nav .owl-prev {
        left: 1.2rem;
    }

    .owl-nav .owl-next {
        right: 1.2rem;
    }
}
// our trainer second carousel
.our-trainer {
    .owl-carousel.our-trainer__second-carousel {
        margin: 2rem 0;

        .owl-item {
            @extend %owl-item;
            transform: scale(.86);
        }
    
        .owl-item.active.center {
           @extend %owl-item-active;
           transform: scale(.93);
        }
        .owl-nav {
            .owl-prev, .owl-next{
                position: absolute;
                top: 50%;
                color: $secondry-color;
                transform: translateY(-50%);
            }

            .owl-prev {
                left: 2.2rem;
            }
        
            .owl-next {
                right: 2.2rem;
            }
        }
    }
}

// tesmonials-carousel
.owl-carousel.Testmonials__carousel {

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        top: 0;
        color: $secondry-color;

        @media (min-width:768px) {
            top: 50%;
        }
    }

    .owl-nav .owl-prev {
        left: 0;
    }

    .owl-nav .owl-next {
        right: 0;
    }

    .owl-dots .owl-dot {
        span {
            transition: all ease .3s;
            background-color: $third-color;
        }

        &.active span{
            background-color: $secondry-color;
        }
    }
}

//animation 

// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }

// .fadeOut {
//     animation-name: fadeOut;
// }